* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.withe {
    color:white;
    font-size: 50px;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 80px;
    background-color:cornflowerblue;
    height: 100vh;
}